<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377084689917-flp12bi6rlafv0e5cne51jrqnrgt7bu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377084689917-flp12bi6rlafv0e5cne51jrqnrgt7bu9</string>
	<key>API_KEY</key>
	<string>AIzaSyCY2QGt510-qU1Ibx110wZvcDC3x8CpGvs</string>
	<key>GCM_SENDER_ID</key>
	<string>377084689917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.django.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-32d78</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-32d78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377084689917:ios:a77a70184b530ffff86d94</string>
</dict>
</plist>